
.recipes {
    max-height:700px ;
}

.labels {
    text-align: right;
}
.similarRecipesTitle{
    margin-left: 150px;
}
.filter{
    margin-bottom:20px; 
    width:40%;
    margin-left:auto; 
    margin-top:20px;
}

@media (max-width: 575.98px) { 
    .recipes{
        max-height:200px ; 
        margin-bottom:10px;
    }
    .labels{
        text-align: left;
    }
    .similarRecipesTitle{
        margin-left: 0px;
    }
    .categoryCol{
        width: 90px;
    }
    .filter{
        max-width:60%;
        margin-right:20px;
        margin-left:20px;
    }
 }
 .highestRatedRecipes{
     max-height: 340px;
     overflow-x: hidden;
 }
 @media (max-width: 575.98px) { 
    .highestRatedRecipes{
        max-height:200px ; 
        margin-bottom:10px;
    }
 }
 @media (min-width: 1200px) { 
    .similarRecipes{
        margin-left: 10px;
    }
 }